
<!doctype html>
<html>
    <head>
        <title>Client</title>
        {{ template "header" }}
        <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <style>
            .chart rect {
                fill: rgb(33,150,243);
            }

            .chart .axis .label {
                fill: black;
                font-size: large;
            }

            .chart .title {
                font-size: large;
                font-weight: bold;
                text-anchor: middle;
            }

            .svg-container {
                display: inline-block;
                position: relative;
                width: calc(100% - 16px); /* from matrial class */
                margin: 8px;
                padding-bottom: 100%; /* aspect ratio */
                vertical-align: top;
                overflow: hidden;
            }

            .svg-content-responsive {
                display: inline-block;
                position: absolute;
            }

            .mdl-card.header {
                min-height: 0;
            }

            .mdl-card.header .mdl-card__title {
                border-bottom: 1px lightgray solid;
            }

            .danger {
                background-color: #ff8b80;
            }
        </style>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            {{ template "navbar" .page }}
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col"></div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="mdl-card full-width header">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Client</h1>
                                    <hr/>
                                </div>
                                <div>
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <strong>ID: </strong><span>{{ .page.Client.Client.ID }}</span>
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <strong>Secret: </strong><span>{{ .page.Client.Client.Secret }}</span>
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <strong>Rate limit per minute: </strong><span>{{ .page.Client.Client.RateLimitPerMinute }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col"></div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <table class="mdl-data-table mdl-js-data-table full-width">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric" colspan="3">Alerts</td>
                                    </tr>
                                </thead>
                                <tbody id="alert-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <div id="chart-container" class="mdl-card full-width">
                                <svg class="chart"></svg>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col"></div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="mdl-card full-width header">
                                <div class="mdl-card__title danger">
                                    <h1 class="mdl-card__title-text">Danger area</h1>
                                    <hri/>
                                </div>
                                <div>
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--8-col"> 
                                            Delete this client (can't be undone)
                                        </div>
                                        <div class="mdl-cell mdl-cell--2-col">
                                            <button id="show-delete-dialog-{{ .page.Client.Client.ID }}" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Delete</button>
                                            <dialog id="delete-dialog-{{ .page.Client.Client.ID }}" class="mdl-dialog">
                                                <div class="mdl-dialog__content">
                                                    <p>Are you sure you want to delete {{ .page.Client.Client.ID }}</p>
                                                    <p id="reload-message-{{ .page.Client.Client.ID }}" style="display: none;">Refreshing clients...</p>
                                                    <div id="loading-spinner-{{ .page.Client.Client.ID }}" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="display: none;"></div>
                                                </div>
                                                <div class="mdl-dialog__actions">
                                                    <button id="confirm-delete-{{ .page.Client.Client.ID }}" type="button" class="mdl-button close">Delete</button>
                                                    <button id="close-delete-{{ .page.Client.Client.ID }}" type="button" class="mdl-button close">Cancel</button>
                                                </div>
                                            </dialog>
                                            <script>
                                                $(function() {
                                                    var dialog = document.getElementById('delete-dialog-{{ .page.Client.Client.ID }}');
                                                    var showDialogButton = document.getElementById('show-delete-dialog-{{ .page.Client.Client.ID }}');
                                                    if (!dialog.showModal) {
                                                        dialogPolyfill.registerDialog(dialog);
                                                    }

                                                    showDialogButton.addEventListener('click', function() {
                                                        dialog.showModal();
                                                    });

                                                    dialog.querySelector('#confirm-delete-{{ .page.Client.Client.ID }}').addEventListener('click', function() {
                                                        document.getElementById('loading-spinner-{{ .page.Client.Client.ID }}').style.display = 'block';
                                                        document.getElementById("reload-message-{{ .page.Client.Client.ID }}").style.display = 'block';
                                                        $.post("/account/clients/delete/{{ .page.Client.Client.ID }}", {"gorilla.csrf.Token": "{{ $.csrfField }}"}, function(data) {
                                                            location.reload();
                                                        });
                                                    });

                                                    dialog.querySelector('#close-delete-{{ .page.Client.Client.ID }}').addEventListener('click', function() {
                                                        dialog.close();
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            var sock = new SockJS('/ws/account/clients/');
            sock.onopen = function() {
                sock.send('["{{ .page.Client.Client.ID }}"]')
                console.log('open');
            };

            sock.onmessage = function(e) {
                console.log(e.data);
                var json = JSON.parse(e.data);
                json.forEach(function(element) {
                    $('#alert-body').append('<tr><td class="mdl-data-table__cell--non-numeric">' + 
                        moment.unix(element.timestamp).format('YY-MM-DD HH:mm a') + 
                        '</td><td class="mdl-data-table__cell--non-numeric">' + 
                        element.title + 
                        '</td><td class="mdl-data-table__cell--non-numeric">' + 
                        element.message + 
                        '</td></tr>');
                }, this);
            };

            sock.onclose = function() {
                console.log('close');
            };

            var currentData = [];

            var margin = {top: 40, bottom: 40, left: 60, right: 20};
            var graphWidth = $('.mdl-cell.mdl-cell--8-col').width() - margin.left - margin.right;
            var chartWidth = graphWidth + margin.left + margin.right;
            var xLabelHeight = 40;
            var maxBarHeight = 500;
            var barTopText = 20;
            var chartHeight = maxBarHeight + xLabelHeight + barTopText + margin.top + margin.bottom;

            var y = d3.scaleLinear()
                    .range([maxBarHeight, 0]);

            var x = d3.scaleBand()
                .range([0, graphWidth])
                .round(true)
                .padding(0.1);

            // Add title
            d3.select(".chart")
                .append('text')
                .attr('x', chartWidth/2)
                .attr('y', margin.top/2)
                .attr("class", "title")
                .text("Requests per minute");

            var chart = d3.select(".chart")
                    .attr('height', chartHeight)
                    .classed("svg-container", true) // container class to make it responsive
                    .attr("preserveAspectRatio", "xMinYMin meet")
                    .attr("viewBox", "0 0 " + chartWidth+ " " + chartHeight)
                    // class to make it responsive
                    .classed("svg-content-responsive", true)
                    .append('g')
                    .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')');

            var yAxis = d3.axisLeft(y);

            var xAxis = d3.axisBottom(x);
            xAxis.tickFormat(d => { 
                return moment.unix(d).format('MM-DD H:mm'); 
            })

            chart.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90) translate(-" + maxBarHeight/2 + ", -40)")
                    .style("text-anchor", "middle")
                    .attr("class", "label")
                    .text("Number of requests");

            chart.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + maxBarHeight + ")")
                    .call(xAxis)
                    .append("text")
                    .attr("transform", "translate(" + graphWidth/2 + ", 40)")
                    .style("text-anchor", "middle")
                    .attr("class", "label")
                    .text("Date");

            function updateGraph(data) {
                data.sort(function(a,b) {
                    return a.timestamp - b.timestamp
                })

                x.domain(data.map(d => { return d.timestamp }));
                y.domain([0, d3.max(data, function(d) { 
                        return d.value;
                })]);

                chart.selectAll(".y.axis")
                    .transition().duration(300)
                    .call(yAxis);
                chart.selectAll(".x.axis")
                    .transition().duration(300)
                    .call(xAxis);

                var color;
                var bar = chart.selectAll('rect')
                        .data(data);

                bar.exit()
                        .transition()
                        .duration(300)
                        .attr("y", y(0))
                        .attr("height", maxBarHeight - y(0))
                        .style('fill-opacity', 1e-6)
                        .remove();

                bar.transition().duration(300).attr("x", function(d) { return x(d.timestamp); }) // (d) is one item from the data array, x is the scale object from above
                        .attr("width", x.bandwidth()) // constant, so no callback function(d) here
                        .attr("y", function(d) { return y(d.value); })
                        .attr("height", function(d) { return maxBarHeight - y(d.value); }); // flip the height, because y's domain is bottom up, but SVG renders top down

                bar.enter().append('rect')
                        .attr('y', function(d) { 
                            return y(d.value); 
                        })
                        .attr('x', function(d, i) { 
                            return x(d.timestamp) - 1; 
                        })
                        .attr('width', x.bandwidth())
                        .attr('height', function(d) {
                            return maxBarHeight - y(d.value); 
                        })
                        .on('mouseover', function(data) {
                            color = this.style.fill;
                            d3.select(this)
                                .style('fill', '#f37e21')
                        })
                        .on('mouseout', function(data) {
                            d3.select(this)
                                .style('fill', color)
                        });
            }

            function updateEventCounts() {
                $.getJSON("/account/clients/{{ .page.Client.Client.ID }}/eventCounts")
                .done(function(d) {
                    console.log(d);
                    currentData = d;
                    updateGraph(d);
                })
                .always(function() {
                    setTimeout(updateEventCounts, 5000);
                });
            };

            function updateEvents() {
                $.getJSON("/account/clients/{{ .page.Client.Client.ID }}/events")
                .done(function(d) {
                    console.log(d);
                });
            }

            function updateChartContainer() {
                $('#chart-container').height(chartHeight);
            }

            updateChartContainer();
            updateEventCounts();
            updateEvents();

            function redraw() {
                graphWidth = $('.mdl-cell.mdl-cell--8-col').width() - margin.left - margin.right;
                chartWidth = graphWidth + margin.left + margin.right;
                x.range([1, graphWidth]);
                d3.select(".chart")
                    .attr("viewBox", "0 0 " + chartWidth + " " + chartHeight)

            }
        </script>
    </body>
</html>