{{ define "header" }}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<style>
    .full-width {
        width: 100%;
    }

    .container {
        max-width: 840px;
    }

    body {
        background-color: #eee;
    }
</style>
{{ end }}